

@import url('https://fonts.googleapis.com/css?family=Pacifico');


$orange: #FFA100;
$lightGrey: #D8D8D8;
$black: black;
$red: red;
$darkRed:#D0021B;
$cloud:#4A90E2;
$green:#ADC396;
$paleGreen:#C8DAB5;
$offWhite:#FBFBF7;
$greyBlue:#DCE7F3;
$snout:#FFF0D5;


$color-main: $black;
$font-p: Helvetica, sans-serif;
$font-title: 'Pacifico', Georgia, serif;
